<h1> Home Page</h1>

@* Sinmple access quick checks*@
@if(User.Identity.IsAuthenticated)
{
    <h1>Great! User is authenticated!</h1>
}
else
{
    <h1>Oops! User is NOT authenticated.</h1>
}

@*big guns reusable functions*@
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@if((await authorizationService.AuthorizeAsync(User, "Claim.DoB")).Succeeded)
{
    <h1>User has DOB Claim.</h1>
}